.slide-1 {
  background-image: url("/images/slide-1-mobile.jpg");
  background-repeat: no-repeat;
}
.slide-2 {
  background-image: url("/images/slide-2-mobile.jpg");
  background-repeat: no-repeat;
}
.slide-3 {
  background-image: url("/images/slide-3-mobile.jpg");
  background-repeat: no-repeat;
}
.slick-slide {
  height: 580px;
}
.slider__arrows {
  display: none;
}
